.header__logo {
  color: #ffff;
  background-color: #03658c;
  padding: 20px 20px 20px 20px;
  min-width: 800px;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.header__nav {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #ffff;
  background-color: #012840;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  li {
    list-style: none;
    padding: 7px;
    background-color: #03658c;
    border-radius: 5px;
    user-select: none;
    &:hover {
      background-color: #52b3d9;
      color: black;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.header {
  padding: 0px 20px 0px 20px;
  background-color: #012840;
}

li.menu-active {
  background-color: #52b3d9;
  color: black;
}

.profile-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #52b3d9;
  border-radius: 50%;
  margin-right: 10px;
  background-image: url('/static/assets/images/icons/white-profile.png');
  background-size: cover;
  background-position: center;
  vertical-align: middle;
}
