.top__movieTitle {
  display: flex;
  color: black;
  justify-content: center;
}

.singleMovie__main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.singleMovie__leftContainer {
  display: inline-block;
  max-width: 40%;
  margin: 0 auto;
}

.singleMovie__rightContainer {
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

.singleMovie__main-poster {
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.singleMovie__main-poster img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.singleMovie__main-description {
  margin-top: 20px;
}

.singleMovie__main-screenings {
  h2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}

.singleMovie__screenings {
  width: 100%;
  border: 3px solid #03658c;
  border-radius: 5px;
  height: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.screenings__dateContainer {
  border: 2px solid #03658c;
  background-color: #012840;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: white;
  margin-top: 7px;
  padding: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
  }

  .screenings__room,
  .screenings__date,
  .screenings__time {
    white-space: nowrap;
    text-align: center;
  }
}

.singleMovie__reviews {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    margin: 40px auto 10px auto;
  }
}

//Styling for reviews and pagination
$background-color: #012840;
$primary-color: #03658c;
$button-border: rgba(3, 101, 140, 0.5);
$border-color: rgba(204, 204, 204, 0.5);

.singleMovie {
  &__reviews {
    text-align: center;
    padding: 20px;

    h1 {
      margin: 40px auto 10px auto;
    }
  }

  &__reviewContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
    padding: 20px;
    border-radius: 8px;

    div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 20px;
      border: 2px solid $border-color;
      border-radius: 2px;
      padding: 10px;
      text-align: center;
    }
  }
}

#pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  margin-top: -60px;
  margin-right: 35px;

  button {
    border: 2px solid $button-border;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    color: $primary-color;
    font-weight: bold;

    &:hover {
      background-color: #e0e0e0;
      color: #52b3d9;
    }

    &:disabled {
      background-color: #f0f0f0;
      color: #a0a0a0;
      border: 1px solid #e0e0e0;
      box-shadow: none;
    }
  }
}

#pagination-info {
  display: none;
}

.rating {
  grid-area: rating;
  font-weight: bold;
  color: $primary-color;
}

.name {
  grid-area: name;
  font-weight: bold;
  font-style: italic;
}

.comment {
  grid-area: comment;
  text-align: center;
}
.review-label {
  font-weight: bold;
}

.singleMovie__addReviews {
  display: block;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

  h1 {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.singleMovie__addReviews {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-bottom: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.rating,
.name,
.review {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.rating label,
.name label,
.review label {
  width: 10%;
}

input,
textarea {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}
.submit-button {
  display: block;
  padding: 10px 20px;
  background-color: #02254b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto 0;
}

.submit-button:hover {
  background-color: #0056b3;
}
