<% layout('layouts/main') %>
<div class="top__movieTitle">
  <h1>
    <%= movie.title %>
  </h1>    
</div>
<div class="singleMovie__main">
  <div class="singleMovie__leftContainer">  
     <div class="singleMovie__main-poster">
       <% if (movie.image) { %>
         <img src="<%= movie.image.url %>">
         <% } %>
    </div>
  </div>

  <div class="singleMovie__rightContainer">
     <div class="singleMovie__main-info">
       <div class="singleMovie__main-rating"></div>
       <div class="singleMovie__main-description"><h3>Handling:</h3> <%- movie.intro %></div>    
     </div>
     <div class="singleMovie__main-screenings">
       <h2>Kommande visningar</h2>
       <div class="singleMovie__screenings"></div>
     </div>
  </div>
</div>

<div class="singleMovie__reviews">
  <h1>Recensioner</h1>
  <div id="reviews-container" class="singleMovie__reviewContainer">
    <div id="reviews-list">
      <p>Laddar recensioner...</p>
    </div>
  </div>

  <div id="pagination">
    <button type="button" id="prevBtn">Tillbaka</button>
    <span id="pagination-info">Sida 1</span>
    <button type="button" id="nextBtn">Nästa</button>
  </div>


  </div>
  </div>  

</div>

<form class="singleMovie__addReviews">
  <h1>Skriv en recension</h1>

  <select class="rating-dropdown" required \>
    <option value="1">&#9733;</option>
    <option value="2">&#9733;&#9733;</option>
    <option value="3">&#9733;&#9733;&#9733;</option>
    <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
    <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
  </select>
  <label class="name-label">Ditt namn: </label>
  <input text="text" class="name-input" required \>
  <textarea class="review-textarea" placeholder="Skriv din recension här" required></textarea>
  <button class="submit-button">Submit</button>
</form>


<script src="/static/script/fetchAverageRating"></script>
<script type="module" src="/static/script/loadReviews.js"></script>
