<% layout('layouts/main') %>
HEM
<!-- Placeholder for testing, feel free to delete -->
<script type="module" src="/static/script/fetchScreenings.js"></script>

<div class="screenings">
    <li class="screenings-list"></li>
</div>
<!--END-->