<% layout('layouts/main') %>
<div class="top-rated">
    <h3 class="top-rated__title"><%= frontPageContent.hem.topRatedTitle %></h3>
    <ul class="top-rated__container"></ul>
</div>

<div class="screenings-next-five-days">
    <h3 class="screenings__title">Visningar för de fem kommande dagarna</h3>
    <ul class="screenings"></ul>
        <li class="screenings-list"></li>
    
</div>

<script type="module" src="static/Script/fetchScreenings.js"></script>

