<% layout('layouts/main') %>
<div class="top-rated">
    <h3 class="top-rated__title"><%= frontPageContent.hem.topRatedTitle %></h3>
    <ul class="top-rated__container"></ul>
</div>

<!-- Placeholder for testing, feel free to delete -->
<script type="module" src="/static/Script/fetchScreenings.js"></script>

<div class="screenings">
    <li class="screenings-list"></li>
</div>
<!--END-->