<% layout('layouts/main') %>

<h3>Medlemslogin</h3>
<div class="loginFirstDiv bg-primary">
    <a href="https://myaccount.google.com/"><img src="../static/assets/images/icons/icons-google-signin.png" alt="Google sign-in button"></a>
    <hr class="bg-white hr-custom">
    <form class="loginSecondDiv bg-primary text-white needs-validation" novalidate>
        <div class="mb-3 bg-primary">
        <label for="exampleInputEmail1" class="form-label">E-postadress eller användarnamn</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fyll i e-postadress eller användarnamn" aria-describedby="emailHelp" value="" required>
        <div class="invalid-feedback bg-third text-white">Detta fält måste fyllas i</div>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Lösenord</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ange lösenord" required>
        <div class="invalid-feedback bg-third text-white">Du måste ange ett lösenord</div>
        </div>
        <a href="/forgotpassword" class="password text-second fs-6">Glömt lösenord?</a>
        <div class="loginButtonDiv d-flex justify-content-center">
        <button type="submit" class="btn btn-custom text-white">Logga in</button>
        </div>
        <div class="d-flex justify-content-center">
        <p>Har du inte ett konto?<a href="/register" class="text-second"> Registrera dig</a></p>
        </div>
    </form>    
</div>

<script type="module" src="static/Script/loginValidation.js"></script>