<% layout('layouts/main') %>


<link rel="stylesheet" href="/static/style/tailwind.css">

  <main class="bg-sky700 shadow-lg rounded-lg p-6 w-full max-w-md mt-6 mb-6 mx-auto">
    <h2 class="text-xl font-semibold mb-4 text-white">Din Profil</h2>
    <p class="username text-white"><strong>Användarnamn:</strong></p>
    <p class="email text-white"><strong>E-post:</strong></p>
    <a href="/" class="block mt-4 w-full bg-btn700  text-white text-center py-2 rounded-md">
        Gå till startsida
      </a>
      <button class="logout w-full bg-blue-500 text-white py-2 rounded-md">Logga ut</button>
  </main>

  <script src="/static/Script/profil.js"></script>
